* {
	box-sizing: border-box;
}

body {
	background-color: none;
	margin: auto;
	/*margin: 50px;
	border: 10px solid black;
	border-radius: 15%;
	position: fixed;
	height: 725px;
	width: 1450px;*/
}

.container {
	background-image: url("../images/hero-image.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 800px;
	background-attachment: fixed;
}

.containerOne {
	background-image: url("../images/second-image.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 800px;
	background-attachment: fixed;
}

.text {
	background-color: rgba(189,189,189, 0.5);
	font-family: 'Passion One', cursive;
	/*letter-spacing: 1px;*/
	font-size: 9vw; /* Responsive font size */
	font-weight: bold;
	border-radius: 10px;
	margin: 0 auto; /* Center the text container */
	width: 1100px;
	text-align: center; /* Center text */
	position: absolute; /* Position text */
	top: 50%; /* Position text in the middle */
	left: 50%; /* Position text in the middle */
	transform: translate(-50%, -50%); /* Position text in the middle */
	mix-blend-mode: screen; /* This makes the cutout text possible */
	}
}

#white {
	/*background-color: white;*/
	/*font-size: 50px;*/
	/*height: 1000px;*/
/*	padding-top: 20px;
	padding-bottom: 50px;*/
}

section {
	width: 100%;
	padding: 25px;
}

p {
	text-align: center;
	line-height: 28px;
	font-size: 20px;
	font-family: 'Fira Sans', sans-serif;
}

img {
	height: 300px;
	width: 300px;
}

.move {
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  text-align: center;
}

.moveImage {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #2196F3;
  color: #fff;
}


